<!DOCTYPE html>
<head>
    <title>NKSLK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link rel="stylesheet" href="/Content/css/css/bootstrap.min.css">
    <link href="/Content/css/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/Content/css/css/config.css" rel='stylesheet' />
    <link href="/Content/css/css/style-responsive.css" rel="stylesheet" />
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/font.css" type="text/css" />
    <link href="/Content/css/css/font-awesome.css" rel="stylesheet">
    <script src="/Content/css/js/jquery2.0.3.min.js"></script>
</head>
<body>
    <section id="container">
        <!--header start-->
        <header class="header fixed-top clearfix">
            <!--logo start-->
            <div class="brand">

                <a href="index.html" class="logo">
                    Nhật Ký SLK
                </a>
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars"></div>
                </div>
            </div>
            <div class="top-nav clearfix">
                <ul class="nav pull-right top-menu">
                    <li>
                        <input type="text" class="form-control search" placeholder=" Search">
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="" src="images/2.png">
                            <span class="username">Admin</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                            <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                            <li><a href="login.html"><i class="fa fa-key"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <aside>
            <div id="sidebar" class="nav-collapse">
                <div class="leftside-navigation">
                    <ul class="sidebar-menu" id="nav-accordion">
                        <li class="sub-menu">
                            <a href="fontawesome.html">
                                <i class="fa fa-dashboard"></i>
                                <span>Menu</span>
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a href="fontawesome.html">
                                <i class="fa fa-star"></i>
                                <span>Chấm Công</span>
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-book"></i>
                                <span>NKSLK </span>
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a href="fontawesome.html">
                                <i class="fa fa-male"></i>
                                <span>Công Nhân</span>
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a href="fontawesome.html">
                                <i class="fa fa-briefcase"></i>
                                <span>Công Việc </span>
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-tasks"></i>
                                <span>Danh Mục Công Việc</span>
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a href="fontawesome.html">
                                <i class="fa fa-th"></i>
                                <span>Sản Phẩm</span>
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-building"></i>
                                <span>Phòng Ban</span>
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class=" fa fa-bar-chart-o"></i>
                                <span>Thống Kê</span>
                            </a>
                            <ul class="sub">
                                <li><a href="google_map.html">Số ngày công</a></li>
                                <li><a href="vector_map.html">Số giờ làm </a></li>
                                <li><a href="vector_map.html">Lương </a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-user-plus"></i>
                                <span>Đăng Ký</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <section id="main-content">
            <section class=" wrapper">
                @RenderBody()
            </section>
        </section>
    </section>
    <script src="/Content/css/js/bootstrap.js"></script>
    <script src="/Content/css/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/Content/css/js/scripts.js"></script>
    <script src="/Content/css/js/jquery.slimscroll.js"></script>
    <script src="/Content/css/js/jquery.nicescroll.js"></script>
    <script src="js/jquery.scrollTo.js"></script>
</body>
</html>
